.person {
    padding: 10px;
    padding-top: 20px;
    .profile {
        display: flex;
        justify-content: space-around;
        .avatar {
            width: 100px;
            height: 100px;
            text-align: center;
            line-height: 96px;
            border-radius: 50%;
            border: 1px solid #4788FB;
        }
        .join {
            h1 {
                color: #25f3e6;
                font-size: 24px;
                font-weight: bold;
            }
            h2 {
                color: #f6a645;
                font-size: 20px;
                font-weight: bold;
            }
            h3 {
                color: #00BAFF;
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
    .basic {
        padding: 14px;
        p {
            margin-bottom: 20px;
        }
        .bio {
            color: #469F4B;
            font-size: 16px;
            font-weight: bold;
        }
        .company {
            color: #FFC530;
            font-size: 16px;
            font-weight: bold;
        }
        .blog {
            color: #096DD9;
            font-size: 16px;
            font-weight: bold;
        }   
        .email {
            color:#1DA57A;
            font-size: 16px;
            font-weight: bold;
        }
        .address {
            color: #2d5ff6;
            font-size: 16px;
            font-weight: bold;
        }
    }
}